.vertical-center {
  min-height: 100%;  
  min-height: 100vh;

  display: flex;
  align-items: center;
}

body{
font-family: 'Orbitron', sans-serif;
background-color: black;
}

.bg-image {

  background-color: black;

}
.content{
  z-index: 9999!important;
}
.table-fixed  thead {
  width: 97%;
}
.table-fixed tbody {
  height: 230px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody{
  display: block;
}
.table-fixed thead tr th {
  float: left;

}
.table-fixed tbody td {
  float: left;

}
#coverImage{
  max-width: 100% !important;
}

